body {
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
}


/*----------REUSABLE COMPONENTS-----------*/

.container {
  max-width: 1140px;
  margin: 0 auto;
}


/*----------HEADER SECTION------------*/

#header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/header-background-big.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: none;
  padding: 8em 0 18em 0;
}

h2 {
  color: #fff;
  font-weight: 300;
  width: 13em;
  letter-spacing: 2px;
  line-height: 1.4;
  font-size: 2em;
  margin-top: 2em;
}

#logo {
  width: 10em;
  position: relative;
  bottom: 7em;
}

form > input[type="submit"] {
  padding: 0.5em 2em;
  background-color: #F5A623;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin-left: 1em;
  letter-spacing: 1px;
}

form > input[type="text"] {
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
}

input:focus {
  outline: 0;
}


/*------------------MAIN CONTENT SECTION---------------*/

#results {
  background-color: #333;
  border-radius: 5px;
  margin: 5em 0;
}

.list {
  background-color: #fff;
  padding: 1em;
  display: inline-block;
  margin: 2.5em 2.5em;
  border-radius: 5px;
}

ul {
  list-style: none;
  margin-top: 5em;
}

img {
  border-radius: 5px;
}

/*-----------------MEDIA QUERIES---------------*/

@media only screen and (max-width: 1250px){
  .header-content {
   margin-left: 2em;
    }

  #logo {
    margin-left: 2em;
  }
}

@media only screen and (max-width: 550px) {
  #logo {
    left: 5em;
  }

  .header-content {
    width: 23em;
    margin: 0 auto;
  }

  h2 {
    width: 10em;
    text-align: center;
  }

  ul,
  #results {
    margin: 0;
  }

  #results {
    border-radius: 0px;
  }

}

@media only screen and (max-width: 960px) {
  #header {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/header-background-med.jpeg');
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/header-background-med.jpeg');
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/header-background-med.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
  }
}

@media only screen and (max-width: 460px) {
  #header {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/header-background-small.jpeg');
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/header-background-small.jpeg');
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/header-background-small.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
  }
}


